{{#chart}}


    {{#if parentNodeId}}
    <div class="choice">
        <div><strong>Id: </strong><span data-attr="choiceId">{{id}}</span></div>
        <div><strong>Parent Node Id: </strong><span data-attr="pId">{{parentNodeId}}</span></div>
        <div><strong>Child Node Id: </strong><span data-attr="cId">{{nextNodeId}}</span></div>
        <div data-attr="desc">{{text}}</div>
    </div>
    {{else}}

    <div class="node">
        <div><strong>Id:</strong> <span data-attr="nodeId">{{id}}</span></div>
        <div><strong>Day: </strong><span data-attr="day">{{day}}</span></div>
        <div><strong>Title: </strong><span data-attr="title">{{title}}</span></div>
        <div data-attr="desc">{{text}}</div>
    </div>
    {{/if}}

{{/chart}}