<!DOCTYPE html>
<html>
<head>
    <title>Story Gen</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/handlebars.js"></script>
    <script src="stylesheets/bootstrap/js/bootstrap.js"></script>

    <script src="javascripts/Jit/jit.js"></script>
    <script src="javascripts/charting.js"></script>

    <script src="/socket.io/socket.io.js"></script>


</head>
<body>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Node</h4>
            </div>
            <div class="modal-body">
               Delete this node and all its children?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="yes" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="col-md-12">
        <h1>Story Generator</h1>
    </div>

    {{>part}}




</div>



<!--http://tilomitra.com/handlebars-on-the-server-and-client/-->
<!-- Add a \ before the handlebars -->
<script id="node-template" type="text/x-handlebars-template">
    \{{#if type}}
    <div class="sg-choice">
        <div><strong>Id: </strong><span data-attr="choiceId">\{{id}}</span></div>
        <div><strong>Parent Node Id: </strong><span data-attr="pId">\{{parentNodeId}}</span></div>
        <div><strong>Child Node Id: </strong><span data-attr="cId">\{{nextNodeId}}</span></div>
        <div data-attr="desc">\{{text}}</div>
    </div>
    \{{else}}

    <div class="sg-node">
        <div><strong>Id:</strong> <span data-attr="nodeId">\{{id}}</span></div>
        <div><strong>Day: </strong><span data-attr="day">\{{day}}</span></div>
        <div><strong>Title: </strong><span data-attr="title">\{{title}}</span></div>
        <div data-attr="desc">\{{text}}</div>
    </div>
    \{{/if}}

</script>

<div id="infovis" class="clearfix"></div>




<script>
    setSocket(io.connect('http://localhost:3000'))
</script>




</body>


</html>