@import "bootstrap/css/bootstrap.css";
.sg-node {
  width: 400px;
  padding: 10px;
  border: solid 1px #333;
}
.sg-choice {
  width: 400px;
  padding: 10px;
  border: solid 1px #e95e11;
}
#infovis {
  height: 1000px;
  margin: auto;
  position: relative;
  width: 1000px;
}
