@import "bootstrap/css/bootstrap.css";
.sg-node,
.sg-choice {
  width: 300px;
  padding: 10px 40px;
  border: solid 1px #333;
  overflow-y: scroll;
  height: 150px;
}
.sg-choice {
  border: solid 2px #e95e11;
}
#infovis {
  height: 1000px;
  margin: auto;
  position: relative;
  width: 1200px;
  border: solid 1px #333;
  overflow: hidden;
}
